extends layout

block content
  script(src='http://#{config.address}:#{config.sioPort}/socket.io/socket.io.js')
  script
    var socket = io.connect('http://#{config.address}:#{config.sioPort}');
    socket.on('value', function (data) {
      $('.name').each(function() {
        if($(this).val() === data['pvName']) {
          var row = $(this).closest('tr').children('.value');
          row.html(data['value']);
        }
      });
    });
    function changePV(prevPVName, newPVName) {
        socket.emit('change pv name', {
                    prevPVName: prevPVName,
                    newPVName: newPVName});
    }
    $(document).ready(function(){
      $('.name').each(function() {
        $(this).data('prevPVName', $(this).val());
      });
      $('.name').change(function() {
        changePV($(this).data('prevPVName'),
                 $(this).val());
        $(this).data('prevPVName', $(this).val());
      });
      $('.name').val('SR11BCM01:CURRENT_MONITOR').change();
    });
  table
    tr
      th PV
      th Value
    tr
      td
        input.name
      td.value
