body {
  padding: 50px;
  font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}

td.name {
  width: 25em;
  height: 1em;
  padding: 0;
}

td.value {
  width: 25em;
}

input {
  font-size: 100%;
  width: 24.9em;
  margin: 0;
}
